* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: cursive;
}

body {
  background-color: rgb(33, 33, 33);
  background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(1,126,128,1) 100%);
}

.container {
  position: absolute;
  top: 350px; /* Distance from the top of the page */
  width: 100%;
  text-align: center;
  padding: 20px;
  backdrop-filter: blur(10px); /* Apply blur effect */
}

h1 {
  color: rgb(8, 213, 216);
  font-size: 3em;
}
